<div class="ui-g-11 list-post" (click)="this.open()">
  <div class="ui-g-8">
    <span *ngIf="post.twitter.text != ''">
      <img src="../../../assets/img/Twitter_Social_Icon_Circle_Color.png" class="social-icon" alt="Twitter Logo" />
      &nbsp;
      {{ post.twitter.text }}
    </span>
    <span *ngIf="post.twitter.text != '' && post.reddit.title != ''"><br /></span>
    <span *ngIf="post.reddit.title != ''">
      <img src="../../../assets/img/reddit_share_circle_128.png" class="social-icon" alt="Reddit Logo" />
      &nbsp;
      {{ post.reddit.title }}
    </span>
  </div>
  <div class="ui-g-4" style="margin: auto;text-align: center;">
    {{ this.schedulingService.formatDateHeader(post.postDateTime) }}
  </div>
</div>
<div class="ui-g-1" style="margin: auto;text-align: center;">
  <button pButton type="button" icon="pi pi-trash" (click)="this.delete(post)"></button>
</div>

<p-dialog header="Edit Post" [(visible)]="displayEditDialog" [closable]="true" [dismissableMask]="true" [modal]="true"
  [resizable]="true" [style]="{height: '300px', width: '650px'}" [baseZIndex]="000">
  <div class="ui-g">

    <form (submit)="this.onSavePost()" class="ui-g-12">

      <div class="ui-g-5">
        <ngb-datepicker #dp [(ngModel)]="postDate" name="date"></ngb-datepicker>
        <ngb-timepicker [(ngModel)]="postTime" name="time"></ngb-timepicker>
      </div>
      <div class="ui-float-label ui-g-7" style="height: 50px;margin-top: 20px;">
        <input pInputText type="text" class="form-control" id="imageUrl" [(ngModel)]="post.imageUrl" name="imageUrl"
          backdropClass="" />
        <label for="imageUrl">Image URL</label>
      </div>

      <div class="ui-float-label ui-g-7" style="height: 150px;margin-top: 20px;">
        <textarea pInputTextarea class="form-control" id="twitterText" [(ngModel)]="post.twitter.text"
          name="twitterText" rows="6"></textarea>
        <label for="twitterText">Twitter Text</label>
      </div>

      <div class="ui-float-label ui-g-7" style="height: 50px;margin-top: 20px;">
        <input pInputText type="text" class="form-control" id="redditTitle" [(ngModel)]="post.reddit.title"
          name="redditTitle" />
        <label for="redditTitle">Reddit Title</label>
      </div>
      <div class="ui-float-label ui-g-6" style="height: 50px;margin-top: 20px;">
        <input pInputText type="text" class="form-control" id="subreddit" [(ngModel)]="post.reddit.subreddit"
          name="subreddit" />
        <label for="subreddit">Subreddit</label>
      </div>
      <div class="ui-g-1">
        <label for="nsfw">NSFW</label><br />
        <p-checkbox name="nsfw" [(ngModel)]="post.reddit.nsfw" binary="true"></p-checkbox>
      </div>
      <button class="ui-g-12 save-button" pButton type="submit">Save</button>
    </form>
  </div>
</p-dialog>